/* sections */
body {
   background-color: #212529;
   color: white;
   font-family: "Slabo 27px", serif;
   font-size: large;
}


/* elements */

p {
   padding: 0.2rem;
   margin: 1rem;
}

a {
   color: hotpink;
}

/* classes */

.headerMain {
   color: #FAC800;
   padding: 1rem;
   font-family:"Lato", sans-serif;
   font-size: 4rem;
}

.headerSub {
   font-size: 2.3rem;
}

.accordion-button {
   height: 5rem; /* Adjust the height as needed */
   font-size: 1.5rem;
   font-weight: 600;
}

.yellow {
   color: #FAC800;
}

.backgroundWhite {
   background-color: white;
}

.backgroundBlack {
   background-color: #212529;
}

.boxPadding {
   margin: 1rem;
   padding: 0.5rem;
}

.smallPadding {
   padding: 0.1rem;
   margin: 0.4rem;
}

.basicPadding {
   padding: 1rem;
}

.blackText {
   color: black;
}

.faqPadding {
   padding: 1rem;
   margin: 2rem;
}

.testimonial-box {
   min-height: 20rem;
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;
   font-size: large;