/* git add . && git commit -m "Your commit message here" && git push */

/* sections */
body {
   background-color: #212529;
   color: white;
   font-family: "Slabo 27px", serif;
   font-size: large;
}


/* elements */

p {
   padding: 0.2rem;
   margin: 1rem;
}

a {
   color: hotpink;
}

hr {
   border-top: 0.4rem solid white
}

/* General and Home */
.aboutText {

   color: #212529;
}

.aboutPadder {
   padding-top: 1rem;
   padding-bottom: 3rem;
}

.headerContainer {
   text-align: center;
   margin-top: 1rem;
   margin-bottom: 1rem;
   margin-left: 3rem;
   margin-right: 3rem;

}

.landingHeader {
   font-size: 5vw;
   font-family: "Rye", serif;
   font-size: 10vw;
}

.headerMain {
   color: #FAC800;
   padding: 1rem;
   font-family: "Lato", sans-serif;
   font-size: 2.5rem;
}

.headerSub {
   font-size: 2rem;
}

.accordion-button {
   height: 5rem;
   font-size: 1.5rem;
   font-weight: 600;
}

.yellow {
   color: #FAC800;
}

.backgroundWhite {
   background-color: white;
}

.backgroundBlack {
   background-color: #212529;
}

.boxPadding {
   margin: 1rem;
   padding: 0.5rem;
}

.smallPadding {
   padding: 0.1rem;
   margin: 0.4rem;
}

.basicPadding {
   padding: 1rem;
}

.blackText {
   color: black;
}

.faqPadding {
   padding: 1rem;
   margin: 2rem;
}

.testimonial-box {
   min-height: 16rem;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   font-size: large;
}


/* gallery */

#galleryHeader {
   text-align: center;
   color: #212529;
}

.galleryContainer {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   margin: 1rem 1rem 1rem 1rem;
}

.galleryBox {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   width: 80%;
}

.galleryColumn {
   display: flex;
   flex-direction: column;
   width: 24%;
}

.galleryColumn img {
   width: 100%;
   padding-bottom: 0.5rem;
}

@media screen and (max-width: 995px) {
   .galleryBox {
      flex-wrap: wrap;
      width: 100%;
   }

   .galleryColumn {
      width: calc(50% - 1rem);
      margin: 0.5rem;
   }
}

@media screen and (max-width: 700px) {
   .galleryColumn {
      width: 100%;
      margin: 0;
   }
}

/* contact */
#contactForm {
   justify-content: center;
   justify-items: center;
   padding-right: 2rem;
   padding-left: 2rem;
   padding-top: 2rem;
   margin-left: 3rem;
   margin-right: 3rem;
   margin-bottom: 2rem;
}

.rowPadding {
   margin-bottom: 1.5rem;
}

#contactForm label {
   padding-top: 0.2rem;
   padding-bottom: 0.4rem;
}

#sendButton {
   width: 10rem;
   margin: 1rem;
   margin-top: 2rem;
}