/* sections */
body {
   background-color:#212529;
   color: white;
}

/* elements */

h2 {
   color: #FAC800;
   padding: 1rem;
}

p {
   padding: 0.2rem;
   margin: 1rem;
}

a {
   color: hotpink;
}

/* classes */

.backgroundWhite {
   background-color: white;
}

.backgroundBlack {
   background-color:#212529;
}

.boxPadding {
   margin: 1rem;
   padding: 0.5rem;
}

.smallPadding {
   padding: 0.1rem;
   margin: 0.4rem;
}

.basicPadding {
   padding: 1rem;
}

.blackText {
   color: black;
}

.faqPadding {
   padding: 1rem;
   margin: 2rem;
}

.testimonial-box {
   min-height: 16rem;
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;